# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/storybook-static
/build-storybook.log
/node_modules
/.pnp
.pnp.js
/lib


# testing
/coverage

# production
/build


npm-debug.log*
